---
import Anchor from '../components/Anchor.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boutique Hotel in Barra de Potosí México.">
	<main>
		<div class="grid contenido" id="heroe">
			<Hero/>
			<h1>The ideal Stay <br> <span>in Barra de Potosí</span></h1>
			<p>
				Located in Barra de Potosí, a picturesque fishing village, our boutique hotel offers a unique experience of relaxation and adventure. Enjoy the tranquility of the lagoon, the thrill of surfing at the beach, and the convenience of being close to Ixtapa Zihuatanejo and its international airport.
			</p>
			<Anchor url="#rooms" clase="btn claro" texto="Book now" />
		</div>
	</main>
</Layout>


