---
---
<div id="contacto">

    <div id="mapa">

    </div>
    <div id="info">
        <div id="bande">
            <h3>The Blue Crab Lagoon Hotel</h3>
            <p><b>Contact us if you have any questions</b> about our accommodation services or anything else related to The Blue Crab Lagoon. It will be a pleasure for our staff to ensure you have the best vacation in the paradise of Barra de Potosí.</p>
            <ul>
                <li><img src="/icos/whatsapp.svg" alt="phone number"> <a href="https://wa.me/527551111021">+52 755 111 1021</a></li>
                <li><img src="/icos/email.svg" alt="email the blue crab lagoon"><a href="mailto:thebluecrablagoon@gmail.com">thebluecrablagoon@gmail.com</a></li>
                <li><img src="/icos/pin.svg" alt="map the blue crab lagoon"><a href="https://maps.app.goo.gl/1nK1MtnfayNL3KKN7" target="_blank">Calle taxistas, Mza. No 5, Barra de Potosí, C.P. 40880 Barra de Potosí Gro. México.</a></li>
            </ul>
        </div>
    </div>
</div>


<style lang="scss">
    #contacto{
        display: flex;
        height: 60dvh;
    }
  #mapa {
    flex: 1 0 60%;
    width: 100%;
    height: 100%;
}
#info{
      flex: 1 0 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      #bande{
        border-top: solid 1px #B67B6A;
        border-bottom: solid 1px #B67B6A;
        padding: 4rem 0;
        width: 70%;
         li{
            list-style: none;
        }
    }
  }
  .leaflet-bottom, .leaflet-right{
    bottom: 100px;
    display: none!important;
  }
</style>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""
/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" is:inline
></script>
<script>
  var map = L.map('mapa').setView([17.536472, -101.440818], 15);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 27,
  }).addTo(map);

  L.marker([17.536472, -101.440818]).addTo(map).bindPopup("The Blue Crab Lagoon").openPopup();


  //     const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
  // if (isMobile) {

  //   map.dragging.disable();
  // }
  //     map.scrollWheelZoom.disable();
</script>