---

const nav = {
  en: [
    { url: "#headerRooms", texto: "The rooms" },
    { url: "#galeria", texto: "The place" },
    { url: "#services", texto: "The services" },
    { url: "#slider", texto: "The activities" },
  ],
  es: [
    { url: "#headerRooms", texto: "Los habitaciones" },
    { url: "#galeria", texto: "El lugar" },
    { url: "#services", texto: "Los servicios" },
    { url: "#slider", texto: "Las actividades" },
  ],
} as {
  [key: string]: { url: string; texto: string }[];
};
// const currentLocale = Astro.currentLocale;
const { lang } = Astro.props;

---

<footer>
  <div class="grid contenido">
    <div class="bande">
      <ul>
        {
          nav[lang].map((item) => (
            <li>
              <a href={item.url}>{item.texto}</a>
            </li>
          ))
        }
          {
            lang === "es" ? (
              <li>
                <a href="/">
                  <img src="/usa-flag.jpg" alt="English" class="flag" />
                </a>
              </li>
            ) : (
              <li>
                <a href="/es/">
                  <img src="/mex-flag.jpg" alt="Español" class="flag" />
                </a>
              </li>
            )
          }
        <li><img src="/scuba-flag.jpg" alt="Scuba dive" class="flag" /></li>
      </ul>
      <img
        id="logo"
        src="/the-blue-crab-lagoon-logo-footer.svg"
        alt="Hotel The blue crab lagoon Barra de Potosí"
      />
    </div>
  </div>
</footer>

<style lang="scss">
  @import "../estilos/variables";
  footer {
    background: $secundario;
    display: flex;
    justify-content: center;

    .bande{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    ul {
      border-top: solid 1px white;
      display: flex;
      justify-content: center;
      padding: $margen-cel 0;
      flex: 1 0 100%;
    }
    li {
      list-style: none;
    }
    a {
      color: white;
    }
    #logo {
      width: 9vw;
      margin: 0 auto;
      padding-bottom: $margen;
    }
    
    @include cel {
        ul{
            flex-direction: column;
            align-items: center;
            li{
                text-align: center;
                padding-bottom: $margen-min;
                margin: 0;
            }
        }
        #logo{
            width: 40vw;
      }
    }
  }
</style>
